<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>

<body>
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quod ut natus nesciunt praesentium
        laudantium suscipit sapiente soluta eaque sunt? Quia blanditiis, illo explicabo eveniet doloribus sint vitae
        nisi suscipit adipisci rem id, accusamus dicta labore perspiciatis consectetur maiores laboriosam aut soluta
        odit rerum voluptas eum cum consequatur? Quam, accusantium!</p>
</body>

</html>